
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Krona+One&family=Montserrat:ital,wght@0,600;1,600&display=swap');

a { text-decoration: none; }

.tela-inteira {
    width: auto; /* Opcional: para ocupar toda a largura */
    height: 75vh;
        /* Outras propriedades, como background-color ou background-image */
}


:root {
    --cor-primaria: #030303;
    --cor-secundaria: #123458;
    --cor-terciaria: #D4C9BE;
    --cor-hover: #F1EFEC;
    --hover-button: #1C5087;

    --fonte-primaria: 'Aldrich', sans-serif;
        
}

*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
} 

.cabecalho{
    padding: 0.3% 0% 0.3% 15%;
    background-color: var(--cor-secundaria);
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
    
}

.cabecalho__menu__link{
    text-decoration: none;
    color: var(--cor-terciaria);
    font-family: var(--fonte-primaria);
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5%;
        
}

.cabecalho__menu__link:hover{
    background-color: var(--hover-button);
    color: var(--cor-primaria);
}

.apresentacao{
    padding: 3% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 1.5rem;
    font-family: var(--fonte-primaria);
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto{
    font-size: 1.2rem;
    font-family: var(--fonte-primaria);
    color: var(--cor-hover);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--cor-terciaria);
}

.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 6px;
    width: 41%;
    text-align: center;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 200;
    padding: 15px 0;
    text-decoration: none;
    background-color: var(--cor-secundaria); 
    color: var(--cor-hover); 
    
    font-family: 'Aldrich', sans-serif;
}


.apresentacao__links__navegacao:hover{
    background-color: var(--hover-button);
    color: var(--cor-primaria);
    
}

.apresentacao__imagem{
    width: 30%;
    opacity: 0.15;
    padding-right: 5%;
}

.rodape {
    color: var(--cor-terciaria);
    background-color: var(--cor-secundaria);
    padding: 10px;
    text-align: left;
    font-family: var(--fonte-primaria);
    font-size: 1rem;
    font-weight: 200;
    padding-left: 15%;
    padding-top: 1%;
    padding-bottom: 1%;
        
}

@media (max-width: 1200px) {
    .cabecalho{
        padding:10%;
    }
    .cabecalho__menu {
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: auto;
       }
   
}